//Colors
$color-primary: #7ed56f; //normal green
$color-secondary: #55c57a; //medium green
$color-primary-dark: #28b485; //medium green //dark green

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-dark: #777;
$color-gray-dark-2: #b0aeae;
$color-gray-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem; 

//Font-size
$default-font-size: 1.6rem;
