.composition {
  position: relative; 

  &__photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 20px;

    @include respond(tab-port) {
      width: 33.3333%;
      position: relative;
      float: left;

    }

    
    &-p1 {
      left: 40%;
      top: -6rem;

      @include respond(tab-port) {
        top: 0;
        left: 0;
        transform: scale(1.2)
      }
    }

    &-p2 {
      left: 0;
      top: 1rem;

      @include respond(tab-port) {
        top: 0;
        z-index: 100;
        transform: scale(1.4);
      }
    }

    &-p3 {
      left: 20%;
      top: 12rem;

      @include respond(tab-port) {
        top: 0;
        left: 0;
        transform: scale(1.2)
      }

     }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
